<div class="navbar navbar-expand-sm navbar-light d-flex justify-content-between navbar-lewagon">
  <%= link_to about_path, class: "navbar-brand" do %>
    <%= image_tag "Logo site.png" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Bio", bio_path, class: "nav-link" %>
      </li>
      <li class="nav-item active">
        <%= link_to "Mon équipe", "#", class: "nav-link" %>
      </li>
      <li class="nav-item active">
        <%= link_to "Mon calendrier", "#", class: "nav-link" %>
      </li>
      <li class="nav-item active">
        <%= link_to "Jouer avec moi", "#", class: "nav-link" %>
      </li>
       <li class="nav-item active">
        <%= link_to "Contact", "#", class: "nav-link" %>
      </li>
    </ul>
  </div>
</div>
